/* start box */
.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.d-block {
    display: block;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

@media (max-width:767px) {
    .block-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }
}

/* end box */

/* start padding & margin & width */
.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-15 {
    padding: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.m-15 {
    margin: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.m-20 {
    margin: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.h-full {
    height: 100%;
}

/* end padding & margin */
/* start color */
.bg-white {
    background-color: white;
}

.c-white {
    color: white;
}

.c-red {
    color: red;
}

.bg-eee {
    background-color: #eee;
}

.c-blue {
    color: var(--blue-color);
}

.c-grey {
    color: var(--grey-color);
}

.c-orange {
    color: var(--orange-color);
}

.c-green {
    color: var(--green-color);
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-red {
    background-color: var(--red-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-green {
    background-color: var(--green-color);
}

/* end color */
/* start position */
.p-relative {
    position: relative;
}

/* end position */
/* start font */
.txt-c {
    text-align: center;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fw-bold {
    font-weight: bold;
}

.fs-25 {
    font-size: 25px;
}

.fs-40 {
    font-size: 40px;
}

@media (max-width:767px) {
    .txt-c-mobile {
        text-align: center;
    }
}

/* end font */
/* start border */
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.b-none {
    border: none;
}

.b-ccc {
    border: 1px solid #ccc;
}

/* end border */
/* start components */
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}

/* end components */